@if(english){
    <article class="contact">

        <app-card title="CONTACT" photo="images/location.png"/>
    
        <section class="description">
            <p>E-mail: {{email}}</p>
            <p>Phone: {{phone}}</p>
        </section>
    </article>
}@else if(spanish){
    <article class="contact">

        <app-card title="CONTACTO" photo="images/location.png"/>
    
        <section class="description">
            <p>E-mail: {{email}}</p>
            <p>Teléfono: {{phone}}</p>
        </section>
    </article>
}
