@if(english){
    <article class="about">

        <app-card title="WHO AM I?" photo="images/myFace.jpeg"/>
    
        <section class="description">
            <p>Hey there! I'm Victor, a just graduated web developer. I live in Huelva, Andalusia.</p>
            <p>I consider myself a resolutive, active person, who always tries to do his best.</p>
            <p>I really enjoy pulling my hair out in order to solve problems and learning new things every day.</p>
            <p>I can't wait to start a new project!</p>
        </section>
    </article>
}@else if(spanish){
    <article class="about">

        <app-card title="QUIÉN SOY?" photo="images/myFace.jpeg"/>
    
        <section class="description">
            <p>¡Hola! Soy Víctor, un desarrollador web recién graduado. Vivo en Huelva, Andalucía</p>
            <p>Me considero una persona resolutiva y activa que siempre intenta dar lo mejor de sí mismo</p>
            <p>Me gusta romperme la cabeza con nuevos desafíos y aprender cosas nuevas.</p>
            <p>Estoy bastante motivado para empezar!</p>
        </section>
    </article>
}
