@if(english){
<article class="about">

    <app-card title="WHO AM I?" photo="images/photo.jpeg" />

    <section class="description">
        <p>Certificate of Higher Education on Web Development.</p>
        <p>Focused on the creation of a complete product, having knowledge of both client-side and server-side
            technologies.</p>
        <p>A layout designer and data structure professional. Always searching for a responsive and usable user
            interface for a good user experience.</p>
        <p>Highly adaptable to new technologies and agile methodologies. A critical thinker with up to standard
            communication skills.</p>
    </section>
</article>
}@else if(spanish){
<article class="about">

    <app-card title="¿QUIÉN SOY?" photo="images/photo.jpeg" />

    <section class="description">
        <p>Técnico superior en Desarrollo de Aplicaciones Web.</p>
        <p>Enfocado en la creación de un producto completo, con conocimientos tanto de tecnologías del lado cliente como
            servidor.</p>
        <p>Profesional en maquetación web y estructura de datos. Metódico en la búsqueda de una interfaz responsiva y
            óptima para el usuario.</p>
        <p>Adaptable a nuevas tecnologías y metodologías ágiles. Resolutivo y buen comunicador.</p>
    </section>
</article>
}