<article class="about">

    <article class="photo">
        <section class="myFace">
            <img src="images/myFace.jpeg" alt="">
        </section>
        <h1 class="title">WHO AM I?</h1>
    </article>

    <section class="description">
        <p>Hey there! I'm Victor, a just graduated web developer. I live in Huelva, Andalusia.</p>
        <p>I consider myself a resolutive, active person, who always tries to do his best.</p>
        <p>I really enjoy pulling my hair out in order to solve problems and learning new things every day.</p>
        <p>I can't wait to start a new project!</p>
    </section>
</article>
