@if(english){
    <article class="studies">

        <app-card title="STUDIES" photo="images/books.png"/>
    
        <section class="myStudies">
            <ul>
    
                <li>
                    <span class="study">Certificate of Higher Education on Web Development.</span>
                    <span class="place">I.E.S San Sebastian, Huelva.</span>
                </li>

                <li>
                    <span class="study">Technological Science Bachellor.</span>
                    <span class="place">I.E.S Juan Antonio Perez Mercader, Corrales.</span>
                </li>
    
            </ul>
        </section>
    </article>
}@else if(spanish){
    <article class="studies">

        <app-card title="ESTUDIOS" photo="images/books.png"/>
    
        <section class="myStudies">
            <ul>

                <li>
                    <span class="study">C.F.G.S en Desarrollo de aplicaciones web.</span>
                    <span class="place">I.E.S San Sebastian, Huelva.</span>
                </li>

                <li>
                    <span class="study">Bachillerato de ciencias tecnológicas.</span>
                    <span class="place">I.E.S Juan Antonio Perez Mercader, Corrales.</span>
                </li>
    
            </ul>
        </section>
    </article>
}