<button (click)="openMenu()" class="menuButton">
    <img src="images/menu.png" alt="">
</button>

@if(english){
    <nav #nav class="nav">
        <a routerLink="about" routerLinkActive="active">ABOUT ME</a>
        <a routerLink="studies" routerLinkActive="active">STUDIES</a>
        <a routerLink="experience" routerLinkActive="active">EXPERIENCE</a>
        <a routerLink="projects" routerLinkActive="active">PROJECTS</a>
        <a routerLink="contact" routerLinkActive="active">CONTACT</a>
        <app-language-selector/>
    </nav>
}@else if(spanish){
    <nav #nav class="nav">
        <a routerLink="about" routerLinkActive="active">SOBRE MI</a>
        <a routerLink="studies" routerLinkActive="active">ESTUDIOS</a>
        <a routerLink="experience" routerLinkActive="active">EXPERIENCIA</a>
        <a routerLink="projects" routerLinkActive="active">PROYECTOS</a>
        <a routerLink="contact" routerLinkActive="active">CONTACTO</a>
        <app-language-selector/>
    </nav>
}


