@if (english) {
    <article class="projects">

        <app-card title="PROJECTS" photo="images/projects.png"/>
    
        <section class="myProjects">
            <ul>
                <a href="https://github.com/Turbrecher/metropolis-remake" target="_blank">
                    <li>
                        <span class="project">Metropolis.</span>
                        <span class="description">A cinema page in which you can see which movies are on billboard and buy tickets for them!</span>
                        <span class="description">As an admin, you can create rooms, movies, movie sessions and more!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/metropolis-remake-api" target="_blank">
                    <li>
                        <span class="project">Metropolis API.</span>
                        <span class="description">The REST API that controls every database action of Metropolis!</span>
                        <section class="tags">
                            <span>PHP</span>
                            <span>Laravel 11</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/talkscouture" target="_blank">
                    <li>
                        <span class="project">Talks Couture.</span>
                        <span class="description">A newspaper like web page in which you can read fashion related articles</span>
                        <span class="description">As an admin, you can create new articles and new writer users, which can control their own articles!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/talkscouture-api" target="_blank">
                    <li>
                        <span class="project">Talks Couture API.</span>
                        <span class="description">The REST API that controls every database action of Talks Couture!</span>
                        <section class="tags">
                            <span>PHP</span>
                            <span>Laravel 11</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/app-los-puertoriquenos" target="_blank">
                    <li>
                        <span class="project">Los Puertoriquenos.</span>
                        <span class="description">This web page is a custom one. I like playing boardgames with family and compete over who has won the most of them</span>
                        <span class="description">This application lets you keep track of it by creating tournaments, games and players. Every time you play a game, you can add it to the application and never forget who is the real winner!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/app_los_puertoriquenos_api" target="_blank">
                    <li>
                        <span class="project">Los Puertoriquenos API.</span>
                        <span class="description">The REST API that controls every database action of Los Puertoriquenos!</span>
                        <section class="tags">
                            <span>Python</span>
                            <span>Django</span>
                        </section>
                    </li>
                </a>
    
            </ul>
        </section>
    </article>
}@else if(spanish){
    <article class="projects">

        <app-card title="PROYECTOS" photo="images/projects.png"/>
    
        <section class="myProjects">
            <ul>
                <a href="https://github.com/Turbrecher/metropolis-remake" target="_blank">
                    <li>
                        <span class="project">Metropolis.</span>
                        <span class="description">Una web de cine en la que puedes ver las películas en cartelera y comprar tickets para sesiones!</span>
                        <span class="description">¡Como administrador, puedes crear salas, películas, sesiones y mucho más!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/metropolis-remake-api" target="_blank">
                    <li>
                        <span class="project">Metropolis API.</span>
                        <span class="description">¡La API REST que controla todas las acciones de la base de datos de Metropolis!</span>
                        <section class="tags">
                            <span>PHP</span>
                            <span>Laravel 11</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/talkscouture" target="_blank">
                    <li>
                        <span class="project">Talks Couture.</span>
                        <span class="description">Una página web en la que podrás leer artículos sobre moda.</span>
                        <span class="description">¡Como administrador, podrás crear nuevos artículos y usuarios escritores, que podrán administrar sus propios artículos!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/talkscouture-api" target="_blank">
                    <li>
                        <span class="project">Talks Couture API.</span>
                        <span class="description">¡La API REST que controla todas las acciones de la base de datos de Talks Couture!</span>
                        <section class="tags">
                            <span>PHP</span>
                            <span>Laravel 11</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/app-los-puertoriquenos" target="_blank">
                    <li>
                        <span class="project">Los Puertoriquenos.</span>
                        <span class="description">Esta página web es una bastante específica y curiosa. Personalmente me gusta jugar a juegos de mesa con la familia y competir para ver quien ha ganado más partidas.</span>
                        <span class="description">Esta aplicación te permite registrar esas puntuaciones en tablas creando partidas, torneos y participantes. ¡Cada vez que juegues una partida, podrás añadirla a la aplicación y así saber a ciencia cierta quién es el ganador!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                        </section>
                    </li>
                </a>
    
                <a href="https://github.com/Turbrecher/app_los_puertoriquenos_api" target="_blank">
                    <li>
                        <span class="project">Los Puertoriquenos API.</span>
                        <span class="description">¡La API REST que controla todas las acciones de la base de datos de Los Puertoriquenos!</span>
                        <section class="tags">
                            <span>Python</span>
                            <span>Django</span>
                        </section>
                    </li>
                </a>
    
            </ul>
        </section>
    </article>
}