@if (english) {
    <article class="projects">

        <app-card title="PROJECTS" photo="images/projects.png"/>
    
        <section class="myProjects">
            <ul>
                
    
                <a href="https://talkscouture.com/" target="_blank">
                    <li>
                        <span class="project">Talks Couture.</span>
                        <span class="description">A newspaper like web page in which you can read fashion related articles.</span>
                        <span class="description">As an admin, you can create new articles and new writer users, which can control their own articles!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                            <span>PHP</span>
                            <span>Laravel 11</span>
                        </section>
                    </li>
                </a>
    
            </ul>
        </section>
    </article>
}@else if(spanish){
    <article class="projects">

        <app-card title="PROYECTOS" photo="images/projects.png"/>
    
        <section class="myProjects">
            <ul>

    
                <a href="https://talkscouture.com/" target="_blank">
                    <li>
                        <span class="project">Talks Couture.</span>
                        <span class="description">Una página web en la que podrás leer artículos sobre moda.</span>
                        <span class="description">¡Como administrador, podrás crear nuevos artículos y usuarios escritores, que podrán administrar sus propios artículos!</span>
                        <section class="tags">
                            <span>TypeScript</span>
                            <span>SASS</span>
                            <span>Angular 18</span>
                            <span>PHP</span>
                            <span>Laravel 11</span>
                        </section>
                    </li>
                </a>
    
            </ul>
        </section>
    </article>
}